*
{
    margin: 0;padding: 0;box-sizing: border-box;
    /* overflow-x: hidden; */
}

header
{
    
    width: 100%;
    height: 100vh;
    background-image: url('../img/b1.png'),url('../img/bg1.jpeg');
    background-size: 50% 100%,cover;
    background-position: right,center;
    background-repeat: no-repeat,no-repeat;
    clip-path: polygon(50% 0%, 100% 0, 100% 36%, 100% 61%, 79% 91%, 50% 70%, 21% 91%, 0 66%, 0 36%, 0 0);
    background-attachment: fixed;

}
nav
{
    
    width: 100%;
    height: 10%;
    background-color: rgba(79, 17, 17,0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    position: sticky;
    z-index: 1;
}

.logo
{
    color: white;
    font-size:50px;
    font-weight: bold;
    padding-left: 100px;
}

.menu a
{
    
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 5px;  
    font-size: 20px; 
    font-weight: bold;
   
}
.menu
{
    margin-right: 100px;
}
.menu a:hover
{
    background: rgb(50, 41, 41);
    transition: 0.5;
    border-radius: 20px;
    

}

.text
{
    color: white;
    margin-top: 100px;
    margin-left: 100px;
    max-width: 450px;
}
.text h1
{
    font-size: 50px;
    margin: 10px 0px;

}
.text p
{
    font-size: 25px;
}
.cv
{
    border: none;
    outline: none;
    color: white;
    background: #e74c3c;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
}
.cv:hover
{
    background-color:#bf6458 ;
    /* text-transform: uppercase; */
}

#about
{
    padding: 100px 50px;

}
.section_info
{
    font-weight: bold;
    text-align: center;
    
}
.section_info h1
{
    font-size: 50px;
}
.section_info p
{
    font-size: 25px;
    color: #e74c3c;
}

.about_row
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.left
{
    /* background-color:rgba(209, 204, 204,0.3); */
    border-radius: 20px;
    flex-basis: 50%;
    display: flex;
    justify-content: center;


}
.left img
{
   
    width: 50%;
    padding: 50px;
    border-radius: 50%;
   
}
.right
{
    flex-basis: 50%;
    text-align: justify;
}
.right p
{
    font-size: 20px;

}
#title
{
    font-size: 20px;
    font-weight: bold;

}

#skills
{
    padding: 100px 50px;
    background-image: url('/img/bg2.jpg');
    background-size:cover ;
    color: white;

}
.skills_row
{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: rgb(45,52,54);
    padding: 50px;
}
.skill_left
{
    
    flex-basis: 50%;
    
    text-align: justify;
   
}
.skill_left p
{
    font-size: 20px;
   

}
.skill_right
{
  
    flex-basis: 50%;
}

progress
{
    width: 80%;
}
.progress_div
{
    width: 70%;
    margin: auto;
}
.progress_div p
{
    margin-bottom: 10px;
    font-size: 20px;
    padding-left:30px;
    text-align: justify; 
}

#internship
{
    padding: 100px 50px;
   background-color: rgb(157, 230, 243);
    background-size:cover ;
}
#internship >.section_info
{
    color: #549130;
    margin-bottom: 20px;
}


.internship_box
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: rgb(45,52,54);
    padding: 50px;
    color: white;
   
}
.internship_box_left
{
    flex-basis: 50%;
}
.internship_box_left h1
{
    margin-right: 15px;
    color: lightblue;
}
.internship_box_left p
{
    margin-bottom: 10px;
    margin-right: 15px;
    font-size: 17px;
    padding-left:30px;
    text-align: justify;
}
.internship_box_right
{
    flex-basis: 50%;
    background-color: rgba(57, 49, 49, 0.5);
    border-left: 4px solid green;
    

}
.internship_box_right h1
{
    color: lightblue;
    margin-left: 15px;
}
.internship_box_right h3
{
    color: rgb(183, 177, 227);
    margin-left: 15px;
}
.internship_box_right p
{
    margin-bottom: 10px;
    font-size: 17px;
    padding-left:30px;
    text-align: justify;
    

}

#contact_me
{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 50px; */
    /* background-color: green; */
}
.form_data
{
    margin-top: 50px;
    margin-bottom: 50px;

    width: 50vw;
    height: 50vh;
    /* background-color: rgb(191, 148, 148); */
    color: #bea9a6;
    /* border: 5px solid #e0c2be;; */
}
input[type=text]
{
    width: 30vw;
    padding: 10px;
    margin: 30px 0px;
    font-weight: bold;
    outline: none;
   border-bottom: 4px solid rgb(58, 50, 50);
   border-top: 0;
   border-right: 0;
   border-left: 0;

}
#textArea
{
    width: 30vw;
    padding: 10px;
    margin: 30px 0px;
    font-weight: bold;
    outline: none;
   border-bottom: 4px solid rgb(58, 50, 50);
   border-top: 0;
   border-right: 0;
   border-left: 0;
}

label
{
    margin-left: 20px;
    font-weight: bold;
    font-size: 25px;
}
#formBtn
{
    margin-left: 250px;
    margin-top: -1px;
    margin-bottom: 20px;
}


#project
{
    margin-bottom: 50px;
    flex-wrap: wrap;
}
.project_box
{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
   box-shadow: 5px 2px 2px 5px gray;
   
    
}
#project > .section_info
{
    color: #549130;
}
.first
{
    /* width: 33.33vw; */
    flex-basis: 33%;
    height: auto;
    background-color: lightblue;
    margin-right: 10px;
    margin-left: 10px;
}
.first h1
{
    margin: 20px;
}
.first h3
{
    margin: 20px;
}
.first p
{
    margin: 20px;
}
.second
{
    /* width: 33.33vw; */
    flex-basis: 33%;
    height: auto;
    /* height: 30vh; */
    background-color: lightblue;
    margin-right: 10px;
}
.second h1
{
    margin: 20px;
}
.second h3
{
    margin: 20px;
}
.second p
{
    margin: 20px;
}
.third
{
    /* width: 33.33vw; */
    flex-basis: 33%;
    height: auto;
    background-color: lightblue;
    margin-right: 10px;
}
.third h1
{
    margin: 20px;
}
.third h3
{
    margin: 20px;
}
.third p
{
    margin: 20px;
}



footer
{
    margin-top: 60px;
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
    position: sticky;
    bottom: 0;
    
}

/* Responsive design/ */

/* Side Nav Bar / */
#side_nav
{
    display: none;
}



@media only screen and (max-width:770px)
{
    header
    {
        background:url('../img/bg1.jpeg');
        background-size: cover;
    }
    .menu a
    {
        display: none;
    }
    .logo
    {
        padding-left: 150px;
    }
    .text
    {
        margin-left: 50px;
    }
    /* About section/ */
    .left
    {
        flex-basis: 100%;
    }
    /* .left img
    {

    } */
    .right
    {
        flex-basis: 100%;


    }

    /* Skills Section/ */
    .progress_div
    {
        width: 100%;
        margin: auto;
        padding-top: 100px;
    }
    .progress
    {
        width: 80%;

    }
    .progress_div p
    {
        margin-bottom: 10px;
        font-size: 20px;
        padding-left: 20px;
        text-align: justify;
    }


    .skill_left
    {
        flex-basis: 100%;
    }
    .skill_right
    {
        flex-basis: 100%;
    }



/* Internship / experience */

.internship_box
{
    /* background:none; */
    display: grid;
  row-gap: 20px;

  padding: 20px;
}
.internship_box_right
{
    border: none;
    margin: 20px;
    background-color: rgb(109, 97, 97);

    
}
.internship_box_right h1
{
    margin: 20px;
};
.internship_box_right p
{
    margin: 20px;
};
.internship_box_left 
{
    /* border: none; */
    margin: 20px;
  

    
}
.internship_box_left h1
{
    margin: 20px;
};
.internship_box_left p
{
    margin: 20px;
};









    /* Projects */

    #project
    {
      
      flex-wrap: wrap;
    }
    .first
    {
        margin: 0;
        box-shadow: 2px 3px 0px  5px gray;
    }
    .second
    {
        margin: 0;
        box-shadow: 2px 3px 0px  5px gray;
    }
    .third
    {
        margin: 0;
        box-shadow: 2px 3px 0px  5px gray;
    }
    .project_box
    {

        display: grid;
        row-gap: 20px;
        margin: 20px;
       
        padding: 40px;
        
    }


/* Side Nav Bar Menu/ */

#side_nav
{
    position: fixed;
    top: 0;
    right: 0;
    /* width: 250px; */
    width: 0px;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    padding: 100px 0px;
    transition: 0.4s;
    display: block;
}
#side_nav a
{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 10px 30px;
    padding: 20px;
    display: block;
}
#side_nav a:hover
{
    background: #e74c3c;
    transition: 0.1s;
    border-radius: 20px;
    text-align: center;
}
#menubar
{
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    cursor: pointer;
}




}
